@(tasks: List[Task])

@main("Tasks"){
    <h1>Aufgaben</h1>
    @if(tasks.size() > 0) {

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Beschreibung</td>
                            <td>Taskdauer</td>
                            <td>Projekt</td>
                        </tr>
                    </thead>
                    <tbody>
                    @for(task <- tasks){
                        <tr>
                            <td>@task.getId()</td>
                            <td>@task.getTitle()</td>
                            <td>@task.getDescription()</td>
                            <td>@task.getDuration()</td>
                            <td>@task.getProject().getName()</td>

                            <td>
                                <a href="@routes.TaskController.show(String.valueOf(task.getId()))" class="btn btn-default"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                <a href="@routes.TaskController.delete(String.valueOf(task.getId()))" class="btn btn-danger"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>

                            </td>


                        </tr>

                    }
                    </tbody>
                </table>
            </div>

        </div>
    } else{
        <div class="warehouse-item">
            Keine Aufgaben vorhanden
        </div>
    }

    <div class="new-holder">
        <a href="@routes.FormController.addTask()" class="btn btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Neuen Task anlegen</a>
    </div>

}